

p {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.byline {
  font-size: 20px;
  position: 1px;
  width: auto;
  text-align: center;
}

.contact {
  bottom: 10px;
  font-size: 20px;
  position: 1px;
  width: auto;
  text-align: center;
}

h3 {
  width: 24%;
}
