/* The best way */
$darkbluebackgroundcolor: #55acee;
$greyBackgroundColor: lightgrey;

/* The best way */
%button {
  min-width: 100px;
  padding: 1em;
  border-radius: 1em;
  font-family: cursive;
}

%button:hover {
  background-color: $greyBackgroundColor;
  color: inherit;
  transition-delay: 0.1s;
  transition-duration: 0.1s;
}

%spanish-background {
  color: #fff;
  background: #3b5998;
}
%english-background {
  color: #fff;
  background: #3b5998;
}

.btn {
  &--spanish {
    @extend %button;
    @extend %spanish-background;
  }
  &--english {
    @extend %button;
    @extend %english-background;
  }
}
