
  .header {

    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    /*TO ADD FLEXBOX to the flex children, change flex direction from default row to flex-direction column so our main axis is top to bottom*/
    flex-direction: column;
    justify-content: center; /*TO PUT THEM IN THE MIDDLE OF THE PAGE*/
  }

  .header_headline {
    margin: 0;
  }


  .header_menu {
    list-style: none;  /*to get rid of dots*/
    padding: 10;
    margin: 10;
    font-weight: bolder;
  }


  .header_menu a {
    text-decoration: none;
  }

  .header_menu li {
    display: inline-block;
    margin: 30px;
    font-size: 30px;
  }

  .header_menu li:hover {
    background-color: lightgrey;
    color: black;
    transition: 0.3s;
  }


/*HEADER ENDS HERE*/
